.photos-stream {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .photo {

  padding: 10px;
  align-self: center;

    img {
      vertical-align: baseline;
      max-height: 220px;
    }

    .Description {
      font-size: 11px;
      line-height: 2;
      color: #9a9797;

    }
  }
}
